* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

button,
input {
  cursor: pointer;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background: url("/images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.section-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 500px) {
  .section-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 84px;
    gap: 64px;
  }
}
@media (max-width: 400px) {
  .section-container {
    gap: 22px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 74px 220px 152px 165px;
  gap: 40px;
}
@media (max-width: 1439px) {
  .main-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 500px) {
  .main-container {
    padding: 0 32px;
    align-items: center;
    gap: 20px;
  }
}

.title-text {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: hsl(0deg, 36%, 70%);
  letter-spacing: 17px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .title-text {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 11px;
    text-align: center;
  }
}
.title-text__span {
  font-weight: 600;
  line-height: 71px;
  color: hsl(0deg, 6%, 24%);
}
@media (max-width: 500px) {
  .title-text__span {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}

.title-paragraph {
  font-weight: 400;
  line-height: 28px;
  color: hsl(0deg, 36%, 70%);
}
@media (max-width: 500px) {
  .title-paragraph {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.email-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 445px;
}
@media (max-width: 500px) {
  .email-form {
    justify-content: center;
  }
}

.mail-input {
  width: 445px;
  height: 56px;
  opacity: 0.5;
  border: 1px solid hsl(0deg, 36%, 70%);
  border-radius: 28px;
  padding-left: 32px;
}
.mail-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  opacity: 0.5;
}
.mail-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  opacity: 0.5;
}
.mail-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  opacity: 0.5;
}
.mail-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  opacity: 0.5;
}
.mail-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  opacity: 0.5;
}
@media (max-width: 500px) {
  .mail-input {
    width: 311px;
    height: 48px;
    align-items: center;
  }
}

.btn {
  width: 100px;
  height: 56px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  position: absolute;
  right: -20px;
  z-index: 1;
}
.btn:hover {
  background: linear-gradient(135deg, #ffc7c7 0%, #ffcccc 100%);
  border: none;
}
@media (max-width: 500px) {
  .btn {
    width: 64px;
    height: 48px;
    right: 56px;
  }
}

.error-message {
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: hsl(0deg, 93%, 68%);
  position: absolute;
  left: 34px;
  top: 66px;
}
@media (max-width: 500px) {
  .error-message {
    line-height: 13px;
    left: 100px;
  }
}

.error-img {
  position: absolute;
  right: 126px;
  top: 14px;
  z-index: 1;
  display: none;
}
@media (max-width: 500px) {
  .error-img {
    right: 142px;
    top: 11px;
  }
}

.logo-img {
  width: 158px;
  height: 33px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .logo-img {
    position: absolute;
    top: 31px;
    left: 32px;
    width: 100px;
    height: 20.89px;
  }
}

.hero-img-desktop {
  width: 610px;
  height: 100%;
}

.hero-img-mobile {
  width: 376px;
  height: 250px;
}/*# sourceMappingURL=style.css.map */